@mixin animacion-fade-up($duracion: 0.9s) {
    animation: fadeUp $duracion ease-out;
}

@mixin tarjeta-estilo {
    border: none;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
    }
}

@mixin imagen-fix($altura) {
    width: 100%;
    height: $altura;
    object-fit: cover;
    border-radius: 0.5rem; // Un pequeño borde redondeado estético
    @include animacion-fade-up;
}
%shadow-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
    }
}