$font-main: 'Quicksand', sans-serif;

// Mapa de colores
$paleta: (
    "primario": #2f3e35,
    "secundario": #3aaf79,
    "fondo": #f7f9f8,
    "blanco": #ffffff,
    "texto": #2f3e35,
    "icono": #0d6efd
);
